numpy==2.1.1
pandas==2.2.2
gradio==4.43.0
datasets==2.21.0
plotly==5.24.0
nbformat>=4.2.0
tomli
rpy2==3.5.1
great_tables==0.11.0
kaleido
selenium
sphinx
sphinxcontrib-napoleon
sphinx-simplepdf
jupyter